.categories .section-title {
  width: 302px;
  margin: 0 auto;
}

.categories-types {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-types div {
    margin-bottom: 24px;
}

.categories-button {
  width: 312px;
  height: 220px;
  display: inline-block;
  background-color: var(--background-secondary-color);
  border-radius: 16px;
  text-align: center;
  box-sizing: border-box;
  padding: 24px;
  text-decoration: none;
}

.categories-button h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
}



@media screen and (min-width: 728px) {
 .categories .section-title {
  width: 100%;
}
  .categories-types {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-types {
    flex-wrap: nowrap;
    align-items: center;
  }
  .categories-button {
    width: 281px;
  }
  
}