.offers-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

.card {
  color: var(--text-secondary-color);
  background: url(../img/card-japao-mobile.jpg);
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  margin: auto;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weitght);
  margin: 8px 0 0;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.jp {
  background: url(../img/card-japao-mobile.jpeg) no-repeat;
  background-size: cover;
}

.sa {
  background: url(../img/card-san-andreas-mobile.jpeg) no-repeat;
  background-size: cover;
}

.pa {
  background: url(../img/card-paraiba-mobile.jpeg) no-repeat;
  background-size: cover;
} 

.ma {
  background: url(../img/card-manaus-mobile.jpeg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }
  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }

  .jp {
    background: url(../img/card-japao-desktop.jpeg) no-repeat;
    background-size: cover;
  }

  .sa {
    background: url(../img/card-san-andreas-desktop.jpeg) no-repeat;
    background-size: cover;
  }

  .pa {
    background: url(../img/card-paraiba-desktop.jpeg) no-repeat;
    background-size: cover;
  }

  .ma {
    background: url(../img/card-manaus-desktop.jpeg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}